@media (min-width:960px) {
    html,
    body {
        font-size: 16px;
        max-width: 960px;
        margin: auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

.interspace {
    width: 100%;
    height: 0.2666rem;
    background-color: #f7f7f7;
}

.container {
    padding: 0.4rem;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.92rem;
}

.display {
    display: flex;
    align-items: center;
}

.logo {
    width: 1.28rem;
    height: 1.28rem;
    margin-right: 0.2666rem;
}

.default {
    color: #333333;
    font-size: 0.3733rem;
}

.gary {
    color: #999999;
    font-size: 0.32rem;
    margin-top: 0.1rem;
}

.download {
    width: 2.4rem;
    height: 0.9066rem;
    background-color: #ffffff;
    border-radius: 0.4533rem;
    border: solid 0.0266rem #ff7c00;
    font-size: 0.4rem;
    text-align: center;
    line-height: 0.9066rem;
    color: #ff7c00;
}

.radius {
    width: 1.1467rem;
    height: 1.1467rem;
    border-radius: 50%;
    margin-right: 0.4rem;
    background-color: red;
}

/* .attention {
    width: 1.5733rem;
    height: 0.7067rem;
    background-color: #ff7c00;
    border-radius: 0.3467rem;
    line-height: 0.7067rem;
    color: white;
    text-align: center;
    font-size: 0.3467rem;
} */

.square {
    display: block;
    width: 10rem;
    background-color: antiquewhite;
}

.sw-bullet li.active {
    background-color: white;
}

.sw-bullet li {
    width: 0.2133rem;
    height: 0.16rem;
    transform: skew(-30deg);
    /*设置倾斜度为-30*/
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    margin-right: 0.6667rem;
    background-color: rgba(141, 153, 174, 0.5);
    border-radius: 0;
}

.swipslider .sw-slide {
    background-color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0px;
}

.user {
    font-size: 0.4533rem;
    color: #333333;
    margin-right: 0.2667rem;
}

.gender {
    font-size: 0.3333rem;
    color: #999999;
}

.number {
    font-size: 0.5333rem;
    color: #ff7c00;
    font-weight: bold;
}

.unit {
    font-size: 0.4rem;
    color: #8d99ae;
    font-weight: bold;
}

.star {
    font-size: 0.4rem;
    color: #f46036;
    padding: 0.2667rem 0;
}

.target-star img {
    width: 0.5rem;
}

.target-star img::after {
    content: 'niha' !important;
}

.hint {
    margin-left: 0.2rem;
}

.label {
    font-size: 0.3467rem;
    color: #ff7c00;
}

.label span {
    margin-right: 0.1333rem;
}

.title {
    font-size: 0.3467rem;
    color: #333333;
    margin-bottom: 0.5333rem;
}

.course {
    width: 0.3rem;
    margin-right: 0.2rem;
}

.text {
    font-size: 0.4rem;
    color: #333333;
}

.look {
    margin-top: 0.4rem;
}

.borders {
    width: 1.92rem;
    height: 0.7067rem;
    display: inline-block;
    text-align: center;
    line-height: 0.7067rem;
    border-radius: 0.3467rem;
    border: solid 1px #ff7c00;
    font-size: 0.3467rem;
    color: #ff7c00;
    margin-right: 0.2rem;
}

.zan {
    font-size: 0.3467rem;
    color: #666666;
}

.comment_content {
    display: flex;
    border-bottom: 1px solid #cccccc;
    padding: 0.2667rem 0;
}

.more {
    width: 0.35rem;
    float: right;
}

.time {
    font-size: 0.2667rem;
    color: #999999;
    float: right;
}

.remark_portrait {
    display: inline-block;
    width: 0.9333rem;
    height: 0.9333rem;
    border-radius: 50%;
    background-color: darkcyan;
    margin: 0.1333rem 0.2rem 0 0;
}

.foot {
    width: 100%;
    height: 1.32rem;
    background-color: #ff7c00;
    text-align: center;
    line-height: 1.32rem;
    font-size: 0.4rem;
    color: #ffffff;
}

.comment_user {
    margin-top: 0.2rem;
    font-size: 0.3467rem;
    color: #999999;
}

.comment_default {
    height: 2.6667rem;
    line-height: 2.6667rem;
    text-align: center;
    font-size: 0.4rem;
    color: #999999;
  }


/* ============================== demonstration.css ================================ */

.money {
    font-size: 0.6933rem;
    color: #ff7c00;
    font-weight: 600;
    margin: 0.1rem 0;
}

.bottle{
    font-size: 0.5rem;
    color: #ff7c00;
    margin: 0.1rem 0;
}
.bottle_img{
    height: 0.8rem;
}

.bottle_num{
    font-size: 0.65rem;
    margin-right: 0.2rem;
}
.small {
    font-size: 0.2933rem;
    color: #666666;
}

.coach {
    padding: 0 0.2rem;
    height: 2.6rem;
    background-color: #f3f5f7;
    border-radius: 0.08rem;
    margin-right: 0.4rem;
    text-align: center;
}

.sold {
    width: 100%;
    height: 1.32rem;
    background-color: #8d99ae;
    text-align: center;
    line-height: 1.32rem;
    font-size: 0.4rem;
    color: #ffffff;
}

#brief{
    line-height:0.6rem;
}

#gym{
    margin-bottom: 0.4rem;
}
.class_type{
    display: inline-block;
    width: 1.5733rem;
	height: 0.4533rem;
    text-align: center;
    line-height: 0.4533rem;
	background-color: #f46036;
    border-radius: 0.08rem;
    font-size: 0.2667rem;
    color: #ffffff;
    margin-right: 0.2rem;
}
.experience{
    width: 1.32rem;
	height: 0.3467rem;
	background-color: #ffffff;
	border-radius: 0.08rem;
    border: solid 0.0133rem #ff7c00;
    font-size: 0.2667rem;
	color: #ff7c00;
}
.gray{
    font-size: 0.2933rem;
	color: #999999;
}
.circle{
    width: 0.48rem;
    height: 0.48rem;
    border-radius: 50%;
    border: 0.0133rem solid #999;
    margin-right: 0.4rem;
}
.uhead{
    display: block;
    width: 0.9333rem;
    height: 0.9333rem;
    border-radius: 50%;
    background-color: red;
    margin-right: 0.2rem;
}
